<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
        <title>인제대학교 동아리연합회</title>
        <link rel="stylesheet" href="/static/css/inje-settings.css">
        <script type="text/javascript" src="/static/js/inje-script.js"></script>
    </head>
    <body>
        <div class="container-fluid px-0">
            <header class="p-4 mb-4 border-bottom text-center">
                <a href="/">
                    <img
                        src="/static/resource/sca_system_logo.svg"
                        style="min-height:20px;max-height:50px;"
                        alt="">
                </a>
            </header>
            <div class="container my-5">
                <div class="pp-5 mb-4 bg-light rounded-3 vertical-center" style="min-height:500px">
                    <div class="d-block m-auto">
                        <h1 class="text-center mb-3">투표 목록</h1>
                        <div class="line my-3"></div>
                        <div class="card mb-4 vote_card">
                            <div class="card-header text-center">
                                진행 중인 투표
                            </div>
                            <% function date(old_date){
                                let date = old_date.toString().split(' ');
                                let result = date[3] + "년 ";
                                //월
                                if (date[1] == 'Jan') {
                                    result += "1월 ";
                                } else if (date[1] == 'Feb') {
                                    result += "2월 ";
                                } else if (date[1] == 'Mar') {
                                    result += "3월 ";
                                } else if (date[1] == 'Apr') {
                                    result += "4월 ";
                                } else if (date[1] == 'May') {
                                    result += "5월 ";
                                } else if (date[1] == 'Jun') {
                                    result += "6월 ";
                                } else if (date[1] == 'Jul') {
                                    result += "7월 ";
                                } else if (date[1] == 'Aug') {
                                    result += "8월 ";
                                } else if (date[1] == 'Sep') {
                                    result += "9월 ";
                                } else if (date[1] == 'Oct') {
                                    result += "10월 ";
                                } else if (date[1] == 'Nov') {
                                    result += "11월 ";
                                } else if (date[1] == 'Dec') {
                                    result += "12월 ";
                                }
                        
                                result += date[2] + "일 ";
                        
                                //요일
                                if (date[0] == 'Mon') {
                                    result += "월요일";
                                } else if (date[0] == 'Tue') {
                                    result += "화요일";
                                } else if (date[0] == 'Wed') {
                                    result += "수요일";
                                } else if (date[0] == 'Thu') {
                                    result += "목요일";
                                } else if (date[0] == 'Fri') {
                                    result += "금요일";
                                } else if (date[0] == 'Sat') {
                                    result += "토요일";
                                } else if (date[0] == 'sun') {
                                    result += "일요일";
                                }

                                times = date[4].split(":");

                                if (parseInt(times[0]) >= 12) { //오후
                                    result += " 오후 ";
                                    times[0] = (parseInt(times[0]) - 12).toString();
                                    if (times[0] == '00') times[0] = ' 12';
                                }
                                else if (times[0] == '00') times[0] = ' 12';
                                else {
                                    result += " 오전 ";
                                }
                        
                                result += times[0] +"시 " + times[1] + "분";
                                return result;
                            } %>
                            <% if (votedata.length > 0) { %>
                                <% for (var i = 0; i < votedata.length; i++) { %>
                                    <div class="card-body text-center">
                                        <h5 class="card-title"><%= votedata[i].vote_name %></h5>
                                        <p class="card-text"><%= votedata[i].vote_subject %></p>
                                        <p class="card-text" style="font-size:0.8rem"><%= date(votedata[i].vote_endtime) %>까지</p>
                                    <% if (new Date(votedata[i].vote_endtime) < new Date()) { %>
                                        <button onclick="alert('투표가 종료되었습니다.');" class="btn btn-secondary w-100 mb-2">투표종료</button>  
                                    <% } else if (votedata[i].code_status == 0) { %>
                                        <button onclick=<%="vote("+votedata[i].vote_id+")"%> class="btn btn-primary w-100 mb-2">투표하기</button>  
                                    <% } else if (votedata[i].code_status == 1) { %>
                                        <button onclick="alert('이미 투표에 참여하셨습니다.');" class="btn btn-secondary w-100">투표완료</button>
                                    <% } %>
                                    <% if (i != votedata.length - 1) { %>
                                        <div class="line m-0 mt-4"></div>
                                    <% } %>
                                </div>
                                <% } %>
                            <% } else { %>
                                <div class="card-body text-center">
                                    <p class="card-text">진행 중인 투표 없음</p>
                                </div>
                            <% } %>
                        </div>
                        <h6 class="text-center mb-3" id="clock"></h6>
                         <button class="btn btn-primary w-100 mb-1" onclick="logout()">로그아웃</button>
                    </div>
                </div>
            </div>
            <footer class="text-center p-5">
                <img class="logo" src="/static/resource/sca_logo_gray.svg" alt="">
                <div class="mb-5"></div>
                <p class="footer-text">(50834) 경상남도 김해시 인제로 197 늘빛관(학생회관) 323호<br>ⓒ2022 INJE University All Rights Reserved.</p>
            </footer>
        </div>
    </body>
<script>
    function logout() {
        if(confirm('로그아웃 하시겠습니까?')) {
            location.href='/logout'
            alert('로그아웃 되었습니다.');
        }
    }
    function timer(time) {
        var datetime = new Date(time);
        var nowtime = new Date();

        var diff = datetime - nowtime;

        var diffDay = Math.floor(diff / (1000*60*60*24));
        var diffHour = Math.floor((diff / (1000*60*60)) % 24);
        var diffMin = Math.floor((diff / (1000*60)) % 60);
        var diffSec = Math.floor(diff / 1000 % 60);
    }

    function vote(vote_id,time) {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/vote/run');

        var input1 = document.createElement('input');
        input1.setAttribute('type', 'hidden');
        input1.setAttribute('name', 'vote_id');
        input1.setAttribute('value', vote_id);

        var input2 = document.createElement('input');
        input2.setAttribute('type', 'hidden');
        input2.setAttribute('name', 'authcode');
        input2.setAttribute('value', `<%= authcode %>`);

        form.appendChild(input1);
        form.appendChild(input2);

        document.body.appendChild(form);
        form.submit();
    }
</script>
<script>
    var clockTarget = document.getElementById("clock");
    
    function clock() {
        var date = new Date();
        // date Object를 받아오고 
        var month = date.getMonth();
        // 달을 받아옵니다 
        var clockDate = date.getDate();
        // 몇일인지 받아옵니다 
        var day = date.getDay();
        // 요일을 받아옵니다. 
        var week = ['일', '월', '화', '수', '목', '금', '토'];
        // 요일은 숫자형태로 리턴되기때문에 미리 배열을 만듭니다. 
        var hours = date.getHours();
        // 시간을 받아오고 
        var minutes = date.getMinutes();
        // 분도 받아옵니다.
        var seconds = date.getSeconds();
        // 초까지 받아온후 
        clockTarget .innerText = `현재시간 : ${month+1}월 ${clockDate}일 ${week[day]}요일 ` +
        `${hours < 10 ? `0${hours}` : hours}시 ${minutes < 10 ? `0${minutes }`  : minutes }분 ${seconds < 10 ? `0${seconds }`  : seconds }초`;
        // 월은 0부터 1월이기때문에 +1일을 해주고 
        // 시간 분 초는 한자리수이면 시계가 어색해보일까봐 10보다 작으면 앞에0을 붙혀주는 작업을 3항연산으로 했습니다. 
    }

    function init() { 
        clock();
        // 최초에 함수를 한번 실행시켜주고 
        setInterval(clock, 1000);
        // setInterval이라는 함수로 매초마다 실행을 해줍니다.
        // setInterval은 첫번째 파라메터는 함수이고 두번째는 시간인데 밀리초단위로 받습니다. 1000 = 1초 
    }
    init();
    
</script>
</html>