<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>인제대학교 동아리연합회</title>
    <link rel="stylesheet" href="/static/css/inje-settings.css">
    <script type="text/javascript" src="/static/js/inje-script.js"></script>
</head>
<body>
    <% function date(old_date){
        let date = old_date.toString().split(' ');
        let result = date[3] + "년 ";
        //월
        if (date[1] == 'Jan') {
            result += "1월 ";
        } else if (date[1] == 'Feb') {
            result += "2월 ";
        } else if (date[1] == 'Mar') {
            result += "3월 ";
        } else if (date[1] == 'Apr') {
            result += "4월 ";
        } else if (date[1] == 'May') {
            result += "5월 ";
        } else if (date[1] == 'Jun') {
            result += "6월 ";
        } else if (date[1] == 'Jul') {
            result += "7월 ";
        } else if (date[1] == 'Aug') {
            result += "8월 ";
        } else if (date[1] == 'Sep') {
            result += "9월 ";
        } else if (date[1] == 'Oct') {
            result += "10월 ";
        } else if (date[1] == 'Nov') {
            result += "11월 ";
        } else if (date[1] == 'Dec') {
            result += "12월 ";
        }

        result += date[2] + "일 ";

        //요일
        if (date[0] == 'Mon') {
            result += "월요일";
        } else if (date[0] == 'Tue') {
            result += "화요일";
        } else if (date[0] == 'Wed') {
            result += "수요일";
        } else if (date[0] == 'Thu') {
            result += "목요일";
        } else if (date[0] == 'Fri') {
            result += "금요일";
        } else if (date[0] == 'Sat') {
            result += "토요일";
        } else if (date[0] == 'sun') {
            result += "일요일";
        }

        times = date[4].split(":");

        if (parseInt(times[0]) >= 12) { //오후
            result += " 오후 ";
            times[0] = (parseInt(times[0]) - 12).toString();
            if (times[0] == '00') times[0] = ' 12';
        }
        else if (times[0] == '00') times[0] = ' 12';
        else {
            result += " 오전 ";
        }

        result += times[0] +"시 " + times[1] + "분";
        return result;
    } %>
    <div class="container-fluid px-0">
        <header class="p-4 mb-4 border-bottom text-center">
            <a href="/">
                <img src="/static/resource/sca_system_logo.svg" style="min-height:20px;max-height:50px;" alt="">
            </a>
        </header>
        <div class="container my-5">
            <div class="p-md-5 p-3 bg-light rounded-3 vertical-center" style="min-height:500px">
                <div class="d-block m-auto">
                    <h1 class="text-center mb-4">투표하기</h1>
                    <div class="line my-3"></div>
                    <div class="card mb-5 vote_card text-center">
                        <div class="card-header">
                            투표 정보
                        </div>
                        <div class="card-body px-3 mx-md-5">
                            <h3 style="word-break: keep-all;"><%= votename %></h3>
                            <div class="text-center my-5">
                                <img src="/static/vote/<%= voteid %>.jpg" onerror="src='/static/vote/none.jpg'" style="height: 250px;">
                                <p class="mt-2 mb-4"><%= votesubject %></p>
                            </div>
                            <div class="row">
                                <div class="col-4 col-md-4 pe-0">
                                    <button name='v_btn1' onclick="vote_agree()" class="btn btn-primary w-100 mb-2">찬성</button>
                                </div>
                                <div class="col-4 col-md-4 px-1">
                                    <button name='v_btn2' onclick="vote_disagree()" class="btn btn-danger w-100 mb-2">반대</button>
                                </div>
                                <div class="col-4 col-md-4 ps-0">
                                    <button name='v_btn3' onclick="vote_none()" class="btn btn_return w-100 mb-2">기권</button>
                                </div>
                            </div>                
                        </div>
                        <p style="font-size:0.7rem;word-break: keep-all;">· 당선기준 : 유권자 50% 이상 투표 및 과반수 이상 찬성</p>
                        <p style="font-size:0.8rem"><%= date(voteend) %>까지</p>
                    </div>
                    <button onclick="location.href='/'" class="btn btn-primary w-100 mb-3">뒤로가기</button>
                    <h6 class="text-center mb-3" id="clock"></h6>
                </div>
            </div>
        </div>
        <footer class="text-center p-5">
            <img class="logo" src="/static/resource/sca_logo_gray.svg" alt="">
            <div class="mb-5"></div>
            <p class="footer-text">(50834) 경상남도 김해시 인제로 197 늘빛관(학생회관) 323호</p>
            <p class="footer-text" style="color:#ccc">ⓒ 2022 INJE University All Rights Reserved.</p>
        </footer>
    </div>
</body>
<script>
    function vote_agree() {
        if (confirm('투표에 찬성하시겠습니까?')) {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/vote/run/commit');    
            
            var input1 = document.createElement('input');
            input1.setAttribute('type', 'hidden');
            input1.setAttribute('name', 'voteid');
            input1.setAttribute('value', `<%= voteid %>`);

            var input2 = document.createElement('input');
            input2.setAttribute('type', 'hidden');
            input2.setAttribute('name', 'votevalue');
            input2.setAttribute('value', 'agree');

            var input3 = document.createElement('input');
            input3.setAttribute('type', 'hidden');
            input3.setAttribute('name', 'authcode');
            input3.setAttribute('value', `<%= authcode %>`);


            form.appendChild(input1);
            form.appendChild(input2);
            form.appendChild(input3);
            //form.appendChild(input4);

            document.body.appendChild(form);
            form.submit();
        }
    }
    function vote_disagree() {
        if (confirm('투표에 반대하시겠습니까?')) {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/vote/run/commit');    
            
            var input1 = document.createElement('input');
            input1.setAttribute('type', 'hidden');
            input1.setAttribute('name', 'voteid');
            input1.setAttribute('value', `<%= voteid %>`);
    
            var input2 = document.createElement('input');
            input2.setAttribute('type', 'hidden');
            input2.setAttribute('name', 'votevalue');
            input2.setAttribute('value', 'disagree');
    
            var input3 = document.createElement('input');
            input3.setAttribute('type', 'hidden');
            input3.setAttribute('name', 'authcode');
            input3.setAttribute('value', `<%= authcode %>`);
    
            form.appendChild(input1);
            form.appendChild(input2);
            form.appendChild(input3);
    
            document.body.appendChild(form);
            form.submit();
        }
    }
    function vote_none() {
        if(confirm('투표에 기권하시겠습니까?')) {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/vote/run/commit');    
            
            var input1 = document.createElement('input');
            input1.setAttribute('type', 'hidden');
            input1.setAttribute('name', 'voteid');
            input1.setAttribute('value', `<%= voteid %>`);
    
            var input2 = document.createElement('input');
            input2.setAttribute('type', 'hidden');
            input2.setAttribute('name', 'votevalue');
            input2.setAttribute('value', 'none');
    
            var input3 = document.createElement('input');
            input3.setAttribute('type', 'hidden');
            input3.setAttribute('name', 'authcode');
            input3.setAttribute('value', `<%= authcode %>`);
    
    
            form.appendChild(input1);
            form.appendChild(input2);
            form.appendChild(input3);
    
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
<script type = "text/javascript" src = "/static/js/clock-interval.js"></script>
</html>